# Pandas

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [14]:
pd.Series(data = my_data)     # how to make a series

0    10
1    20
2    30
dtype: int64

In [20]:
pd.Series(data = my_data,index = labels)
# same thing as saying: pd.Series(my_data,labels) in that order

a    10
b    20
c    30
dtype: int64

# a numpy array is the same thing as a python list in pd.Series

In [18]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [49]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [51]:
pd.Series(arr,labels)['a']

10

In [26]:
# quick way to include labels and data is using the dictionary

In [22]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [23]:
d

{'a': 10, 'b': 20, 'c': 30}

In [29]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [30]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [31]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [33]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [34]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [44]:
ser1['USA']

1

In [36]:
ser3 = pd.Series(data=labels)

In [37]:
ser3

0    a
1    b
2    c
dtype: object

In [47]:
ser3[1]

'b'

In [39]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [40]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [42]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64